@import '../../global/variables.less';

.layoutSlider {
  overflow: auto;
  background: @color-primary1;
}
.backgroundPrimary {
  background: @color-primary1;
}
.logo {
  height: 35px;
}
.logoWrapper {
  width: 100%;
  text-align: center;
  padding: 10px;
}
