.table_white {
  box-shadow: 1px 1px 3px 3px lightgray;
  :global {
    .ant-pagination {
      margin: 16px;
    }
    .ant-table-cell {
      vertical-align: bottom;
    }
  }
  .delete {
    color: red;
    font-size: 20px;
    cursor: pointer;
  }
  .editDeciption {
    width: 100%;
    margin: auto;
    input {
      width: 400px;
    }
  }
  .image {
    text-align: center;
  }
}
.Manage_payment_method {
  h1 {
    margin-bottom: 1.5em;
  }
}
.edit {
  display: flex;
  flex-direction: column;
  justify-content: end;

  align-items: end;
  & > * {
    margin-bottom: 15px;
  }
  .switch {
    width: 50px;
  }
}
.image {
  max-width: 100%;
}
