.ant-image-mask {
  border-radius: 100%;
}
.search-form {
  display: flex;
  justify-self: flex-end;
}
.search-container {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
}
.search-item {
  width: 220px;
  margin-right: 16px;
}
